$font_col: rgb(86, 55, 193);
$col_back: rgb(54, 60, 75);

$progress-5-height: 30px;
$progress-5-label-offset-horz: 10px;

$progress-bar-width: 550px;
$progress-bar-offset-vert: 35px;

$progress-2-height: 20px;

$progress-2-color-1: $font_col;
$progress-2-color-2: rgb(147, 157, 171, 0.2);

$progress-2-gradient-bg-size: 42px;

$progress-2-label-top: -($progress-2-height + 3);